---
import Layout from '../../layouts/Layout.astro';
import { FollowButton } from '../../components/FollowButton';

const {id: publisherId} = Astro.params

const publisher = await fetch(`http://localhost:1337/api/users/${publisherId}?populate=*`)
  .then((response) => response.json())
---

<Layout title="Welcome to Astro.">
	<main>
    <a href="/">Home</a>
		<h1>{publisher.username}</h1>
    <FollowButton userId={publisher.id} client:load />
    <h2>Upcoming events</h2>
    <ul>
      {publisher.events.map((event: { title: string; }) => (
        <li>{event.title}</li>
      ))}
    </ul>
	</main>
</Layout>
