---
import Layout from '../layouts/Layout.astro';
import type { Event } from "../components/EventCard";
import type { StrapiNode } from "../types";
import { Events } from './Events';

const events = await fetch("http://localhost:1337/api/events?populate=*")
  .then((response) => response.json())
  .then((response) => response.data as StrapiNode<Event>[])
  .then((eventNodes) => eventNodes.map((eventNode) => eventNode.attributes));
---

<Layout title="Welcome to Astro.">
	<main>
		<h1>All events</h1>
		<Events events={events} />
	</main>
</Layout>
