---
import axios from "axios";
import Layout from "../layouts/Layout.astro";
import { Events } from "../components/Events";

const events = await axios
  .get(`${import.meta.env.PUBLIC_API_BASE_URL}events?populate=*`)
  .then((response) => response.data.data)
  .then((eventNodes) =>
    eventNodes.map(
      (eventNode: {
        attributes: {
          organizers: { data: { id: any; attributes: { title: any } }[] };
        };
      }) => {
        return {
          ...eventNode.attributes,
          organizers: eventNode.attributes.organizers.data.map(
            ({ id, attributes }) => ({
              id,
              title: attributes.title,
            })
          ),
        };
      }
    )
  );
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>All events</h1>
    <Events events={events} />
  </main>
</Layout>
