---
import Layout from "../../layouts/Layout.astro";
import { FollowingPage } from "./FollowingPage";
---

<Layout title="Welcome to Astro.">
  <main class="px-4">
    <FollowingPage client:load />
  </main>
</Layout>
